
.badge-price {
  font-size: 1.2em;
  background-color: #f0f0f086;
  position: relative;
  top: -2em;
  border-radius: 0;
}

.details-link {
  text-decoration: none;
  color: #333;
}

.card {
  transition: all 0.4s ease;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
